<%- include('../layout/header') %>
<main class="login-page-body">

  <div class="login-model">

     <!-- breadcrumbs -->
     <nav aria-label="breadcrumb" class="my-3">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/admin/dashboard">Home</a></li>
        <li class="breadcrumb-item"><a href="/admin/customers">Customers</a></li>
        <% if (breadcrumb && breadcrumb.length) { %>
          <% breadcrumb.forEach((crumb, index) => { %>
            <% if (index === breadcrumb.length - 1) { %>
              <li class="breadcrumb-item active" aria-current="page"><%= crumb.name %></li>
            <% } else { %>
              <li class="breadcrumb-item"><a href="<%= crumb.url %>"><%= crumb.name %></a></li>
            <% } %>
          <% }); %>
        <% } %>
      </ol>
    </nav>
    
 

    <h2 class="signup-heading">Add new user</h2>

    <form class="signup-form" action="" method="POST">
      <div class="signup-names">
        <div class="signup-input-div">
          <i class="fa-regular fa-user signup-icon"></i>
          <input
            class="signup-input"
            type="text"
            name="name"
            placeholder="Enter your name"
            required
          />
        </div>
      </div>

      <div class="signup-input-div">
        <i class="fa-solid fa-phone signup-icon"></i>
        <input
          class="signup-input"
          type="tel"
          name="phone"
          
          placeholder="Enter your phone number"
       
        />
      </div>

      <div class="signup-input-div">
        <i class="fa-regular fa-envelope signup-icon"></i>
        <input
          class="signup-input"
          type="email"
          name="email"
          placeholder="Enter your email id"
          required
        />
      </div>

  
<div>Password will generate automatically and send to this email id</div>
  
      <button class="signup-button" type="submit">Add user</button>
    

 
    </form>



    <div class="navigate">
        <a class="signup-navigate-link" href="/admin/customers">Back</a>
        <a class="signup-navigate-link" href="/admin/dashboard">Dashboard</a>
       </div>


    </div>
</main>

<%- include('../layout/footer') %>





